*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

*.sublime-*
bin/
spec/dummy/tmp
spec/dummy/log
spec/dummy/Gemfile.lock
spec/dummy/db/*.sqlite3
